@font-face {
    font-family: 'iconfont'; /* Project id 2729297 */
    src: url('iconfont.woff2?t=1652342910074') format('woff2'),
    url('iconfont.woff?t=1652342910074') format('woff'),
    url('iconfont.ttf?t=1652342910074') format('truetype');
}

.iconfont {
    /*noinspection CssNoGenericFontName*/
    font-family: 'iconfont' !important;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-check-circle:before {
    content: '\e824';
}
