@font-face {
    font-family: 'iconfont'; /* Project id  */
    src: url('iconfont.ttf?t=1652195074497') format('truetype');
}

.iconfont {
    /*noinspection CssNoGenericFontName*/
    font-family: 'iconfont' !important;
    font-size: 13px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
    content: '\e603';
}

.icon-arrow-right:before {
    content: '\e604';
}
